@font-face {
    font-family: "Zilla Slab";
    src: url("../font/ZillaSlab-Bold.eot");
    src: url("../font/ZillaSlab-Bold.eot?#iefix") format("embedded-opentype"),
        url("../font/ZillaSlab-Bold.woff2") format("woff2"),
        url("../font/ZillaSlab-Bold.woff") format("woff"),
        url("../font/ZillaSlab-Bold.ttf") format("truetype"),
        url("../font/ZillaSlab-Bold.svg#ZillaSlab-Bold") format("svg");
    font-weight: 700;
    font-style: normal;
}