@font-face {
    font-family: "Zilla Slab";
    src: url("../font/ZillaSlab-Light.eot");
    src: url("../font/ZillaSlab-Light.eot?#iefix") format("embedded-opentype"),
        url("../font/ZillaSlab-Light.woff2") format("woff2"),
        url("../font/ZillaSlab-Light.woff") format("woff"),
        url("../font/ZillaSlab-Light.ttf") format("truetype"),
        url("../font/ZillaSlab-Light.svg#ZillaSlab-Light") format("svg");
    font-weight: 300;
    font-style: normal;
}